@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  pre > code {
    overflow-x: auto;
    padding: 1rem 0;
    background-color: black;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .gradient-cool {
    background: url('/gradient/g0.jpg');
    background-size: 100%;
  }
}