@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  pre > code {
    overflow-x: auto;
    padding: 1rem 0;
    background-color: black;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}